@use "../../App"
    
.inner
    background-color: black
    .perspective
        background-color: App.$white
    .slide
        position: fixed
        top: 0
        left: 0
        background-color: App.$white
        width: 100vw
        height: 100vh
        z-index: 100
