@use "../../../App"

#projects-container
    display: grid
    grid-template-columns: repeat(3, max(350px, 35vw))
    grid-template-rows: 1fr
    grid-auto-flow: column
    grid-auto-columns: max(350px, 35vw)
    column-gap: 30px

@media all and (max-width: 650px)
    #trigger
        overflow: auto