@use "../../App"

#navbar
    border-bottom: 1px solid App.$black
    z-index: 10
    height: 8vh
    display: flex
    flex-direction: row-reverse
    box-sizing: border-box
    align-items: center
    padding: 0px 5%
    margin-bottom: 30px
    position: fixed
    width: 100%
    background-color: App.$white
    font-family: App.$header-font
    ul
        padding: 0px
        margin: 0px
        display: flex
        gap: 20px
        list-style-type: none
        font-weight: 300
        font-size: 0.9rem
        a
            text-decoration: none
            color: App.$black
            &:hover
                text-decoration: underline
