@import url(https://db.onlinewebfonts.com/c/7c755818558d0f03c973b199c205ec00?family=MIU+MIU+null)
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500;5..1200,600;5..1200,700&display=swap')
@font-face 
    font-family: "nuckle-regular"
    src: url(./assets/nuckle-regular.ttf)

    
$dark-grey: #131313
$white: #D9D9D9

$header-font: 'Playfair', serif
$normal-font: "nuckle-regular", sans-serif
$subheading-font: "MIU MIU null", sans-serif

body, html
    margin: 0px
    padding: 0px
    background-color: $dark-grey
    color: $white