@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;700;900&display=swap&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')

    
$black: #1F1F29
$white: #F4F4F4
$orange: #FF725E
$red: #982925
$grey: #D5D5D7

$spa-black: #050505

$header-font: 'Roboto', sans-serif
$normal-font: 'Playfair Display', serif

$spa-header-font: 'Cormorant', serif

body, html
    margin: 0px
    padding: 0px
    background-color: $white
    color: $black
    overflow-x: hidden

@mixin link($line-color: #050505)
    display: inline-block
    position: relative
    &::after
        content: ''
        position: absolute
        width: 100%
        transform: scaleX(0)
        height: 2px
        bottom: 0
        left: 0
        background-color: $line-color
        transform-origin: bottom right
        transition: transform 0.25s ease-out
    &:hover::after
        transform: scaleX(1)
        transform-origin: bottom left
